.wrapper {
  width: 80vw;
  margin: 80px auto;
}

.header  {
  margin-left: 30px;
  font-size: 36px;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.participant-item {
  padding: 20px;
  width: 200px;
  border: darkgrey solid 4px;
  background-color: #eae9e9;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}


